<!DOCTYPE html>
<html>
<head>
    <title>Quiz</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<h1>Mini CBT Test</h1>

<div class="container">
    <form method="POST">
        <div class="container">
    
            {% for q in questions %}
                <div class="question">
                    
                    <h3>Q{{ loop.index }}. {{ q.text }}</h3>
    
                    {% set q_index = loop.index0 %}
    
                    <div class="options-row">
                        {% for option in q.options %}
                            <label class="option">
                                <input type="radio" name="q{{ q_index }}" value="{{ option }}" required>
                                {{ option }}
                            </label>
                        {% endfor %}
                    </div>
    
                </div>
            {% endfor %}
    
            <button type="submit">Submit Test</button>
    
        </div>
    </form>
</div>

</body>
</html>