<!DOCTYPE html>
<html>
<head>
    <title>Quiz</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<h1>Mini CBT Test</h1>

<div class="container">
    <form method="POST">
        {% for q in questions %}
            <div class="container">
                <h2>{{ q.text }}</h2>
    
                {% set q_index = loop.index0 %}
    
                <div class="options-row">
                    {% for option in q.options %}
                        <label class="option">
                            <input type="radio" name="q{{ q_index }}" value="{{ option }}" required>
                            {{ option }}
                        </label>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    
        <button type="submit">Submit Test</button>
    </form>
</div>

</body>
</html>